
.container{
    padding: 5rem;

    
.title{
    
    color: red;position: relative;
    display: flex;
   

    .export{
        display: flex;
        .div{
            height: 1rem;
            weight : 2rem;
            margin: 2rem;
        }
    }

}

.form{
    background-color: red;
    height:auto;
    width:auto
}

}



