/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 15px;
} */




.d{
  display: flex;
}


.e{
  display: flex;
}

.open{
  background-color: aqua;
}