/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 15px;
} */



.ant-list-item-meta {
  text-transform: capitalize;
  text-align: left !important;
}